@use '../../foundation/theme' as *;
@use '../../mixin' as *;

.u-hover {
  @include pc {
    &__opacity {
      opacity: 1;
      transition: opacity .3s;

      &:hover {
        opacity: .7;
      }
    }
  }
}