@use "./mixin.scss" as *;

@use "./extends/anradius";

/* ==========================================================================
   Foundation
   ========================================================================== */
@use "./foundation/theme";

/* ==========================================================================
   Animation
   ========================================================================== */
/* ==========================================================================
   Layout
   ========================================================================== */
/* Header
   ----------------------------------------------------------------- */
@use "./layout/header";
/* Footer 
   ----------------------------------------------------------------- */

/* ==========================================================================
   Object
   ========================================================================== */
/* Component
   ----------------------------------------------------------------- */
@use "./object/component/*.scss";
@use "./block/_input.scss" as block-input;
@use "./block/_media.scss" as block-media;
@use "./block/_wrapper.scss" as block-wrapper;

/* Project 
   ----------------------------------------------------------------- */
@use "./wp.scss";

/* Utility 
   ----------------------------------------------------------------- */

@include sp {
  .pc {
    display: none;
  }
}

@include pc {
  .sp {
    display: none;
  }
}

.wrapper {
}

.block-editor-block-inspector .components-base-control {
   padding: 6px 12px;
   margin-bottom: 12px;
}

.block-editor-url-input input[type=text] {
   width: 100%;
}